_notes
.project
*~
*.rej
*.sass-cache
*.err
*.log
.cache
*.komodoproject
nbproject
Thumbs.db
*.diff
# Komodo
publish
intermediate
*.sublime-*
.DS_Store
.svn
.hg
application/config/database.php
*.orig
*.swp
*.swo
# OS or Editor folders
.tmproj
.komodotools
# Dreamweaver added files
.idea
# Folders to ignore
dwsync.xml
.settings
*.esproj
.CVS
# Numerous always-ignore extensions
*.vi