body {
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    margin-bottom:100px;
}

#page h1{
    border-bottom:2px solid #fb503c;
    color: #272727;
}


/**
    HEADER
*/
.navbar-inner {
    background: #272727 none;
}

.navbar-fixed-top .navbar-inner,.navbar-static-top .navbar-inner {
    border-bottom: 7px solid #FB503C;
}

.navbar .brand {
    color: white;
    text-shadow: none;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
}

.navbar h1 {
    margin: 0;
    font-weight: bold;
}

.navbar h1 img {
    margin-right: 10px;
}

.navbar .nav > li {
    line-height: 50px;
}

.navbar .nav > li a {
    color: white;
    text-shadow: none;
    font-weight: bold;
}

.navbar .nav > li a:hover,.navbar .nav > li a:focus,.navbar .nav > .active > a,.navbar .nav > .active > a:hover,.navbar .nav > .active > a:focus, .navbar .nav li a.downloadlink {
    background: #FB503C;
    color: white;
    text-shadow: none;
}

.navbar .btn, .navbar .btn-group {
    margin-top: 15px;
}

.navbar .nav > li.divider{
    content:" ";
    width:15px;
}


/**
    Homepage aside
*/

.homepage aside {
    background-color: #272727;
    border: 2px solid #FB503C;
    border-radius: 4px;
    margin-bottom:20px;
    color:white;
}

.homepage aside h3 {
    background-color: #fb503c;
    color: white;
    margin: 0;
    padding-left: 10px;
}

.homepage aside #posts {
    list-style-type: none;
    padding: 0;
    padding-top:10px;
}

.homepage aside #posts .post {
    border-bottom: 1px solid #2C2D41;
}

/* SIZE DEPENDING - RESPONSIVE */
@media (min-width: 979px) {
    body {
        padding-top: 95px;
    }

    .navbar .nav > li {
        margin-right: 10px;
    }
}

@media (max-width: 979px) {
    .navbar .btn-navbar {
    display: block;
    margin-top: 20px;
    }

    .nav-collapse .nav > li.divider {
        height:15px;
    }

}


ul#books img {
    max-height: 200px;
}